<div class="container-fluid">
  <div class="container">
  <form class="formulario" (ngSubmit)="cadastrarTarefa()">
    <h2 class="titulo-form">Nova Tarefa</h2>


    <div class="form-field">
      <label class="label-form" for="titulo">Titulo</label>
      <input class="input-form" id="titulo" type="text" [(ngModel)]="tarefa.titulo" name="titulo"/>
    </div>

    <div class="form-field">
      <label class="label-form" for="descricao">Descrição</label>
      <input class="input-form" id="descricao" type="text" [(ngModel)]="tarefa.descricao" name="descricao"/>
    </div>

    <div class="form-field">
      <label class="label-form" for="dataEntrega">Data de Entrega</label>
      <input class="input-form"  mask="99/99/9999" id="dataEntrega" type="datetime-local" [(ngModel)]="tarefa.dataEntrega" name="dataEntrega"/>
    </div>

    <h4>Casos de Teste</h4>
    <!--(click)="openDialog()"-->
    <div class="demo-button-container">
      <button class="botao" mat-raised-button (click)="addData()" class="demo-button">
        Add data
      </button>
      <button class="botao"
          mat-raised-button
          [disabled]="!casosTestesDataSource.length"
          (click)="removeData()"
          class="demo-button">
        Remove data
      </button>
    </div>


    <mat-table #table     class="tabela" class="mat-elevation-z8">


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <ng-template #listaVazia>
      <p>Nenhum Caso de Teste cadastrado</p>
    </ng-template>


    <div class="botao-wrapper">
      <button class="botao" type="submit">Cadastrar</button>
    </div>
  </form>
</div>
</div>
