<table mat-table [dataSource]="usuarios" class="mat-elevation-z8">

  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let usuario"> {{usuario.nome}} </td>
  </ng-container>

  <ng-container matColumnDef="login">
    <th mat-header-cell *matHeaderCellDef> Login </th>
    <td mat-cell *matCellDef="let usuario"> {{usuario.login}} </td>
  </ng-container>

  <ng-container matColumnDef="data ultimo acesso">
    <th mat-header-cell *matHeaderCellDef> data ultimo acesso </th>
    <td mat-cell *matCellDef="let usuario"> {{usuario.dataUltimoAcesso}} </td>
  </ng-container>

  <ng-container matColumnDef="data cadastro">
    <th mat-header-cell *matHeaderCellDef> data cadastro </th>
    <td mat-cell *matCellDef="let usuario"> {{usuario.dataCriacao}} </td>
  </ng-container>

  <ng-container matColumnDef="perfil">
    <th mat-header-cell *matHeaderCellDef> perfil </th>
    <td mat-cell *matCellDef="let usuario"> {{usuario.perfil}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
