
<div class="container">

  <div class="porcentagemResultado">
    <mat-card >
      <mat-card-content >
        <div class="center">
          <h1 class="porcentagem">{{resultado.porcentagem}}%</h1>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="codigo">
    <mat-card >
      <mat-card-content >
      <div class="app-ace-editor" #editor></div>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="resultado.compile">
    <div *ngFor="let result of resultado.testes" >
      <mat-card >
        <mat-card-content>

          <div class="row" *ngIf="result.exception == null">
            <div class="col-md-3">
              <mat-icon *ngIf="result.resultadoFinal"  class="iconResultado accepted">check_circle_outline</mat-icon>
              <mat-icon *ngIf="!result.resultadoFinal"  class="iconResultado" color = "warn" >error_outline</mat-icon>
            </div>
            <div class="col-md-3">
              <p>Entrada</p>
              <p>entrada</p>
            </div>
            <div class="col-md-3">
              <p>Saida Obtida</p>
              <p>{{result.saidaObtida}}</p>
            </div>
            <div class="col-md-3">
              <p>Saida Esperada</p>
              <p>{{result.saidaEsperada}}</p>
            </div>
          </div>
          <div class="row" *ngIf="result.exception != null">
            <div class="col-md-3">
              <mat-icon *ngIf="result.resultadoFinal"  class="warn">error_outline</mat-icon>
            </div>
            <div class="col-md-9">
              <p>{{result.exception}}</p>
            </div>
          </div>

      </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div *ngIf="!resultado.compile">
    <mat-card >
      <mat-card-content>
        <p>Erro de compilação: {{resultado.saidaObtida}}</p>
      </mat-card-content>
    </mat-card>
  </div>

</div>
