
<div class="container">

  <div class="porcentagemResultado">
    <mat-card >
      <mat-card-content >
        <div class="center">
          <h1 class="porcentagem"> %</h1>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- <div class="codigo">
    <mat-card >
     {{resultados[0].resposta.codigo}}
    </mat-card>
  </div> -->

  <div *ngFor="let result of resultados" >
    <mat-card >
      <mat-card-content>
        <div class="row">
          <div class="col-md-3">
            <mat-icon *ngIf="result.resultado"  color = "primary">check_circle_outline</mat-icon>
            <mat-icon *ngIf="!result.resultado"  color = "warn">error_outline</mat-icon>
          </div>
          <div class="col-md-3">
            <p>Entrada</p>
            <p>{{result.casoTeste.entrada}}</p>
          </div>
          <div class="col-md-3">
            <p>Saida Obtida</p>
            <p>{{result.saidaObtida}}</p>
          </div>
          <div class="col-md-3">
            <p>Saida Esperada</p>
            <p>{{result.casoTeste.saida}}</p>
          </div>
        </div>
    </mat-card-content>
    </mat-card>
  </div>

</div>
