<form class="formulario" (ngSubmit)="cadastrarCasoTeste()">
<h1>Novo Caso de Teste</h1>

<p>
  <mat-form-field class="example-full-width" appearance="outline" >
    <mat-label>Titulo</mat-label>
    <input matInput class="input-form" [(ngModel)]="teste.nomeTeste" id="nomeTeste" type="text"  name="nomeTeste"/>
  </mat-form-field>
</p>

<p>
  <mat-form-field class="example-full-width" appearance="outline" >
    <mat-label>Entrada</mat-label>
    <input matInput class="input-form" [(ngModel)]="teste.entrada" id="entrada" type="text"  name="entrada"/>
  </mat-form-field>
</p>

<p>
  <mat-form-field class="example-full-width" appearance="outline" >
    <mat-label>Saída</mat-label>
    <input matInput class="input-form" [(ngModel)]="teste.saida" id="saida" type="text"  name="saida"/>
  </mat-form-field>
</p>

  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button cdkFocusInitial (click)="cadastrarCasoTeste()" >Salvar</button>
</form>
