

<table class="tabela">
  <thead class="tabela__cabecalho">
    <th class="tabela__cabecalho__conteudo">Nome do teste</th>
    <th class="tabela__cabecalho__conteudo">Entrada</th>
    <th class="tabela__cabecalho__conteudo">Saida</th>
    <th class="tabela__cabecalho__conteudo">Comparação</th>
  </thead>
  <tbody *ngIf="!!dataSource; else listaVazia">
    <tr class="tabela__linha" *ngFor="let casoTeste of casosTestes">
      <td class="tabela__conteudo"> {{ casoTeste.nomeTeste }}</td>
      <td class="tabela__conteudo">{{ casoTeste.entrada }}</td>
      <td class="tabela__conteudo">{{ casoTeste.saida }}</td>
      <td class="tabela__conteudo">{{ casoTeste.comparacao }}</td>
    </tr>
  </tbody>


</table>
<ng-template #listaVazia>
  <p>Nenhum Usuário cadastrado</p>
</ng-template>
